body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.padding {
  padding: 30px;
}

.w100 {
  width: 100%;
}

.border-top:not(:first-child) {
  border-top: 1px solid #888888e8;
}

.modal-window {
  display: flex;
  align-items: center;
  justify-content: center;  
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);

  transition: opacity 0.3s ease-out;
}

.modal-window.opened {
  opacity: 1;
  z-index: 10;
}
